
@*@inject UserManager<UserEntity> userManager;*@
@inject UserAdminService userAdminService;
@{
    ViewData["Title"] = "Backoffice";
}


<div>
    @foreach(var user in await userAdminService.GetUsersAsync())
    {
        <div class="mb-1">
            <div>@user.Email
                (
                    @foreach (var roleName in user.RoleNames)
                    {
                        <span>@roleName</span>
                    }
               )
        </div>
    </div>
    }          
</div>





@*<div>
    @foreach(var user in userManager.Users)
    {
        <div>@user.Email</div>
    }
</div>*@
