@model ContactFormViewModel
@{
    ViewData["Title"] = "Contact Us ";
}

<section class="contact-form">
    <div class="container">
        <div class="title">@ViewData["Title"] </div>



        <form asp-action="Index" asp-controller="Contacts" method="post" enctype="multipart/form-data" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="Name form-group">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control" onkeyup="validateText(event)" />
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="email form-group">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" onkeyup="validateEmail(event)" />
                <span asp-validation-for="Email" class="small text-danger"></span>
            </div>
            <div class="Message form-group">
                <label asp-for="Message" class="form-label">Message</label>
                <textarea asp-for="Message" class="form-control" onkeyup="validateText(event)"></textarea>
                <span asp-validation-for="Message" class="small text-danger"></span>
            </div>
        

            <button type="submit" class="btn-theme">SUBMIT</button>
        </form>
    </div>
</section>