@model LoginViewModel
@{
    ViewData["Title"] = "Login to Your Account";
}

<section class="login-form">
    <div class="container">
        <div class="title">@ViewData["Title"] </div>
        <div class="form-content">

        
        <form asp-action="Index" asp-controller="Login" method="post" enctype="multipart/form-data" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

           <a asp-controller="register" asp-action="index">Do not have an Account ?</a>
          
                <div class="email form-group">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" onkeyup="validateEmail(event)" />
                <span asp-validation-for="Email" class="small text-danger"></span>
         
            </div>
            <div class="password form-group">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" class="form-control" onkeyup="validatePassword(event)" />
                <span asp-validation-for="Password" class="small text-danger"></span>
            </div>
     
            <button type="submit" class="btn-theme">SUBMIT</button>
        </form>
     </div>
    </div>
</section>

