@model RegisterViewModel
@{
    ViewData["Title"] = "Register a new account";
}

<section class="register-form">
    <div class="container">
        <div class="title">@ViewData["Title"] </div>

        

        <form asp-action="Index" asp-controller="Register" method="post" enctype="multipart/form-data" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="firstName form-group">
                <label asp-for="FirstName" class="form-label">FirstName</label>
                <input asp-for="FirstName" class="form-control" onkeyup="validateText(event)" />
                <span asp-validation-for="FirstName" class="small text-danger"></span>
            </div>
            <div class="lastname form-group">
                <label asp-for="LastName" class="form-label">LastName</label>
                <input asp-for="LastName" class="form-control" onkeyup="validateText(event)" />
                <span asp-validation-for="LastName" class="small text-danger"></span>
            </div>
            <div class="email form-group">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" onkeyup="validateEmail(event)" />
                <span asp-validation-for="Email" class="small text-danger"></span>
            </div>
            <div class="password form-group">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" class="form-control" onkeyup="validatePassword(event)" />
                <span asp-validation-for="Password" class="small text-danger"></span>
            </div>
            <div class="streetname form-group">
                <label asp-for="StreetName" class="form-label">StreetName</label>
                <input asp-for="StreetName" class="form-control" onkeyup="validateText(event)" />
                <span asp-validation-for="StreetName" class="small text-danger"></span>
            </div>
            <div class="postalcode form-group">
                <label asp-for="PostalCode" class="form-label">PostalCode</label>
                <input asp-for="PostalCode" class="form-control" onkeyup="validateText(event)" />
                <span asp-validation-for="PostalCode" class="small text-danger"></span>
            </div>
            <div class="city form-group">
                <label asp-for="City" class="form-label">City</label>
                <input asp-for="City" class="form-control" onkeyup="validateText(event)" />
                <span asp-validation-for="City" class="small text-danger"></span>
            </div>
   
            <button type="submit" class="btn-theme">SUBMIT</button>
        </form>
    </div>
</section>

