@inject ProductRepository productRepo
<div style="padding-top: 100px;">
    <div>
        @foreach (var product in await productRepo.GetAsync())
        {
            <div>
                <div><a asp-action="details" asp-route-id="@product.Id">@product.Title </a></div>
                <div>
                    @foreach (var tag in product.ProductTags)
                    {
                        <span class="me-2">@tag.Tag.TagName</span>
                    }
                </div>

            </div>
        }
    </div>
</div>